@import '../variables';

body {
    font-family: $font-family-base;   
    font-weight: $font-weight-normal;
    line-height: 1.2;
    background: linear-gradient(45deg, #F4EBE5, #E3D4CA);
    color: $dark-gray;
    font-size: $font-size-default;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wide {
    width: 100%;
}